<header>
  <h1>Neuer Mieter für <%= @tenant.flat.house.address %> <%= @tenant.flat.location %></h1>
</header>

<%= simple_form_for @tenant, defaults: { wrapper_html: {class: 'input-field'} } do |f| %>
  <%= f.input :flat_id, as: :hidden, wrapper_html: {class: ''} %>
  <%= f.input :name, label: 'Name', error: 'Name muss angegeben werden' %>
  <%= f.input :phone_number, label: 'Telefonnummer' %>

  <%= f.button :submit, 'Fertig' %>
<% end %>

<script>
  function setLabels() {
    document.querySelectorAll('.input').forEach(input => {
      if ((input.querySelector('input') && input.querySelector('input').value) || (input.querySelector('select') && input.querySelector('select').options.selectedIndex != 0) || (input.querySelector('textarea') && input.querySelector('textarea').value)) {
        input.classList.add('has-value')
      }
      else {
        input.classList.remove('has-value')
      }
      input.addEventListener('change', () => {
        if ((input.querySelector('input') && input.querySelector('input').value) || (input.querySelector('select') && input.querySelector('select').options.selectedIndex != 0) || (input.querySelector('textarea') && input.querySelector('textarea').value)) {
          input.classList.add('has-value')
        }
        else {
          input.classList.remove('has-value')
        }
      })
    })
  }

  setLabels()

</script>
