<header>
  <h1>Profil bearbeiten</h1>
</header>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), defaults: { wrapper_html: {class: 'input-field'} }) do |f| %>
  <%= f.input :email, autocomplete: "email", label: 'Email' %>
  <div class="inline-inputs">
    <%= f.input :password, autocomplete: "new-password", label: 'Neues Passwort', hint: 'Ausfüllen um Passwort zu ändern' %>
    <%= f.input :password_confirmation, autocomplete: "new-password", label: 'Passwort bestätigen', hint: 'Ausfüllen um Passwort zu ändern' %>
  </div>
  <%= f.input :current_password, autocomplete: "current-password", label: 'Passwort', error: 'Muss angegeben werden' %>

  <%= f.submit "Speichern", class: 'btn' %>
  <%= link_to 'Zurück', @user, class: 'secondary-btn' %>
<% end %>
