<header>
  <h1>Neuer Auftrag</h1>
  <%= render 'shared/progress_bar', steps: Task.create_steps, step: 3 %>
</header>

<%= simple_form_for @task, url: wizard_path, method: :put, defaults: { wrapper_html: {class: 'input-field'} } do |f| %>

  <%= f.input :partner_array, as: :hidden, wrapper_html: {class: ''} %>

  <div class="input-field input">
    <label for="task_partner_names">Weitergeleitet an</label>

    <input type="text" id="partner-search">
  </div>

  <div id="added-partners" class="max-width-container">
    <% @task.partners.each do |partner| %>
      <div class="added-partner" data-id="<%= partner.id %>" data-name="<%= partner.name.try(:downcase) %>" data-company="<%= partner.company_name.try(:downcase) %>" onclick="removePartner(this, '<%= partner.name %>', '<%= partner.company_name %>')">
        <p class="partner-name"><%= partner.name %></p>
        <p class="partner-company"><%= partner.company_name %></p>
      </div>
    <% end %>
  </div>

  <div id="partner-list" class="max-width-container">
    <% @partners.each do |partner| %>
      <div class="partner-info" data-name="<%= partner.name.try(:downcase) %>" data-company="<%= partner.company_name.try(:downcase) %>" data-id="<%= partner.id %>" onclick="addPartner(this, '<%= partner.name %>', '<%= partner.company_name %>')">
        <p class="partner-name"><%= partner.name %></p>
        <p class="partner-company"><%= partner.company_name %></p>
      </div>
    <% end %>
  </div>

  <%= f.button :submit, 'Weiter', id: 'submit-button' %>
<% end %>

<script>
  function setLabels() {
    document.querySelectorAll('.input').forEach(input => {
      if ((input.querySelector('input') && input.querySelector('input').value) || (input.querySelector('select') && input.querySelector('select').options.selectedIndex != 0) || (input.querySelector('textarea') && input.querySelector('textarea').value)) {
        input.classList.add('has-value')
      }
      else {
        input.classList.remove('has-value')
      }
      input.addEventListener('change', () => {
        if ((input.querySelector('input') && input.querySelector('input').value) || (input.querySelector('select') && input.querySelector('select').options.selectedIndex != 0) || (input.querySelector('textarea') && input.querySelector('textarea').value)) {
          input.classList.add('has-value')
        }
        else {
          input.classList.remove('has-value')
        }
      })
    })
  }

  hiddenPartnerInput = document.getElementById('task_partner_array');

  function addPartner(elem, name, company) {
    partner_html = `<div class="added-partner" data-id="${elem.dataset.id}" data-name="${name.toLowerCase()}" data-company="${company.toLowerCase()}" onclick="removePartner(this, '${name}', '${company}')">
                      <p class="partner-name">${name}</p>
                      <p class="partner-company">${company}</p>
                    </div>`

    document.getElementById('added-partners').insertAdjacentHTML('beforeend', partner_html)

    hiddenPartnerInput.value = hiddenPartnerInput.value.split(';&').concat(elem.dataset.id).join(';&')

    elem.style.display = 'none';
  }

  function removePartner(elem, name, company) {
    partnerElement = document.getElementById('partner-list').querySelector(`.partner-info[data-id="${elem.dataset.id}"]`)

    if (partnerElement) {
      partnerElement.style.display = 'block';
    } else {
      partner_html = `<div class="partner-info" data-id="${elem.dataset.id}" data-name="${name.toLowerCase()}" data-company="${company.toLowerCase()}" onclick="addPartner(this, '${name}', '${company}')">
                        <p class="partner-name">${name}</p>
                        <p class="partner-company">${company}</p>
                      </div>`

      document.getElementById('partner-list').insertAdjacentHTML('beforeend', partner_html)
    }

    partnerIds = hiddenPartnerInput.value.split(';&')
    partnerIndex = partnerIds.indexOf(elem.dataset.id)

    if (partnerIndex > -1) {
      partnerIds.splice(partnerIndex, 1)
    }

    hiddenPartnerInput.value = partnerIds.join(';&')

    elem.remove();
  }

  function searchPartner(str) {
    searchStr = str.toLowerCase();

    document.getElementById('partner-list').querySelectorAll('.partner-info').forEach(partner => {
      if (partner.dataset.name.includes(searchStr) || partner.dataset.company.includes(searchStr)) {
        partner.style.display = 'block';
      } else {
        partner.style.display = 'none';
      }
    })
  }

  document.getElementById('partner-search').addEventListener('keyup', (e) => {
    searchPartner(e.target.value);
  })
  setLabels()
</script>
