<header>
  <h1>Mieter bearbeiten</h1>
  <%= render 'shared/progress_bar', steps: Task.create_steps, step: 1 %>
</header>

<%= simple_form_for @tenant, url: wizard_path, method: :put, defaults: { wrapper_html: {class: 'input-field'} } do |f| %>
  <% if @house_id %>
    <input type="hidden" value="<%= @house_id %>" name="house_id">
  <% end %>
  <%= f.input :name, label: 'Name', error: 'Name muss angegeben werden' %>
  <%= f.input :phone_number, label: 'Telefonnummer' %>

  <%= f.button :submit, 'Weiter' %>
<% end %>

