<header>
  <h1>Objekte bearbeiten</h1>
</header>

<section>
  <div class="house-table">
    <div class="table-header">
      <div class="table-column text-center">Objekt Nummer</div>
      <div class="table-column">Adresse</div>
      <div class="table-column">Eigentümer</div>
      <div class="table-column">Zuständig</div>
    </div>

    <div class="table-content">
      <% @houses.each_with_index do |house, i| %>
        <div class="table-row" style="background: <%= i%2 == 0 ? 'white' : '#F0F0F0' %>">
          <div class="table-column text-center"><%= house.object_number %></div>
          <div class="table-column"><%= house.formatted_address %></div>
          <div class="table-column">
            <select class="select owner-input" name="house[owner_id]" ajax-submit data-ajax-url="/houses/<%= house.id %>" data-ajax-type="put">
              <% @company.owners.each do |owner| %>
                <% if owner == house.owner %>
                  <option selected value="<%= owner.id %>"><%= owner.name %></option>
                <% else %>
                  <option value="<%= owner.id %>"><%= owner.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>
          <div class="table-column" id="house-<%= house.id %>">
            <select class="select user-input" name="house[user_id]" ajax-submit data-ajax-url="/houses/<%= house.id %>" data-ajax-type="put">
              <% User.all.each do |user| %>
                <% if user == house.user %>
                  <option selected value="<%= user.id %>"><%= user.full_name %></option>
                <% else %>
                  <option value="<%= user.id %>"><%= user.full_name %></option>
                <% end %>
              <% end %>
            </select>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
