<header>
  <h1>Objekte <%= link_to '+', new_house_path %></h1>

  <div class="quick-actions">
    <% if user_signed_in? && (current_user.admin || current_user.can_manage_houses) %>
      <%= link_to 'Zuständigkeiten', edit_houses_path %>
    <% end %>
  </div>
</header>

<div class="houses">
  <% @houses.each do |house| %>
    <div class="house" id="house-<%= house.id %>" onclick="showFlats()">
      <h2><%= house.object_number %>. <%= house.formatted_address %></h2>
      <p><%= house.company.name %> - <%= house.user.full_name %></p>
      <div class="flats hidden">
        <% house.flats.each do |flat| %>
          <div class="flat">
            <h3><%= flat.location %> - <%= flat.current_tenant ? (link_to "#{flat.current_tenant.name}", edit_tenant_path(flat.current_tenant, house_id: house.id), class: 'edit-link') : (link_to 'Mieter hinzufügen', new_tenant_path(flat: flat.id), class: 'new-link') %></h3>
            <%= link_to 'X', flat, method: :delete, data: { confirm: "Diese Wohnung wirklich löschen? #{flat.tenants.count.positive? ? "Alle Mieter der Wohnung (#{flat.tenants.count}) werden ebenfalls gelöscht!" : ''}" }, :remote => true, class: 'delete-link' %>
          </div>
        <% end %>
        <a href="/houses/<%= house.id %>/flats/new" class="new-flat-link">
          <span class="new-flat">+</span>
        </a>
      </div>
    </div>
  <% end %>
</div>

<script>
  allFlats = document.querySelectorAll('.flats');

  if (document.URL.match(/house=(\d*)/)) {
    houseId = document.URL.match(/house=(\d*)/)[1]
    house = document.getElementById(`house-${houseId}`);
    house.scrollIntoView({behavior: 'smooth'});
    house.querySelector('.flats').classList.remove('hidden');
  }

  function showFlats() {
    allFlats.forEach(flat => {
      flat.classList.add('hidden')
    })
    flats = event.target.querySelector('.flats') || event.target.parentNode.querySelector('.flats');
    flats.classList.remove('hidden')
  }
</script>
