<div class="task-table">
  <% if @pagy.pages > 1 %>
    <div class="table-pagination">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>

  <div class="table-header">
    <div class="table-column show-xs text-center"><%= link_to "Auf-Nr. <div class='sort-icon #{'asc' if params[:order] == 'task_number'} #{'desc' if (params[:order] == 'task_number' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :task_number, desc: (params[:order] == 'task_number' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-md text-center"><%= link_to "Datum <div class='sort-icon #{'asc' if params[:order] == 'created_at'} #{'desc' if (params[:order] == 'created_at' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :created_at, desc: (params[:order] == 'created_at' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-xl text-center"><%= link_to "Obj-Nr. <div class='sort-icon #{'asc' if params[:order] == 'object_number'} #{'desc' if (params[:order] == 'object_number' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :object_number, desc: (params[:order] == 'object_number' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-xs"><%= link_to "Adresse <div class='sort-icon #{'asc' if params[:order] == 'address'} #{'desc' if (params[:order] == 'address' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :address, desc: (params[:order] == 'address' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-sm"><%= link_to "Wohnung <div class='sort-icon #{'asc' if params[:order] == 'flat'} #{'desc' if (params[:order] == 'flat' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :flat, desc: (params[:order] == 'flat' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-xl"><%= link_to "Mieter <div class='sort-icon #{'asc' if params[:order] == 'tenant'} #{'desc' if (params[:order] == 'tenant' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :tenant, desc: (params[:order] == 'tenant' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-xs"><%= link_to "Beschreibung <div class='sort-icon #{'asc' if params[:order] == 'title'} #{'desc' if (params[:order] == 'title' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :title, desc: (params[:order] == 'title' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-xl text-center"><%= link_to "Ausgestellt <div class='sort-icon #{'asc' if params[:order] == 'user'} #{'desc' if (params[:order] == 'user' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :user, desc: (params[:order] == 'user' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-md"><%= link_to "Weitergeleitet an <div class='sort-icon #{'asc' if params[:order] == 'partner_names'} #{'desc' if (params[:order] == 'partner_names' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :partner_names, desc: (params[:order] == 'partner_names' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-sm text-center"><%= link_to "Status <div class='sort-icon #{'asc' if params[:order] == 'status'} #{'desc' if (params[:order] == 'status' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :status, desc: (params[:order] == 'status' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-md text-center"><%= link_to "Prio <div class='sort-icon #{'asc' if params[:order] == 'priority'} #{'desc' if (params[:order] == 'priority' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :priority, desc: (params[:order] == 'priority' && params[:desc] != 'true') })) %></div>
  </div>

  <div class="table-content">
    <% tasks.each_with_index do |task, i| %>
      <div class="table-row" style="background: <%= task.status == 4 ? '#EE585A' : (i%2 == 0 ? 'white' : '#F0F0F0') %>">
        <div class="table-column show-xs text-center"><%= link_to task.prefix_number, task %></div>
        <div class="table-column show-md text-center"><%= link_to task.created_at.strftime('%d.%m.%Y'), task %></div>
        <div class="table-column show-xl text-center"><%= link_to task.house.object_number, task %></div>
        <div class="table-column show-xs"><%= link_to task.house.address, task %></div>
        <div class="table-column show-sm"><%= link_to task.flat.try(:location) || '-', task %></div>
        <div class="table-column show-xl"><%= link_to task.tenant.try(:name) || '-', task %></div>
        <div class="table-column show-xs"><%= link_to task.title, task %></div>
        <div class="table-column show-xl text-center"><%= link_to task.user.abbreviated_name, task %></div>
        <div class="table-column show-md"><%= link_to task.partner_names, task %></div>
        <div class="table-column show-sm text-center"><%= link_to task.humanized_status, task %></div>
        <div class="table-column show-md text-center text-red"><%= link_to task.humanized_priority, task %></div>
      </div>
    <% end %>
  </div>
</div>
