<div class="task-table">
  <% if @pagy.pages > 1 %>
    <div class="table-pagination">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>

  <div class="table-header">
    <div class="table-column show-xs text-center"><%= link_to "Auf-Nr. <div class='sort-icon #{'asc' if params[:order] == 'task_number'} #{'desc' if (params[:order] == 'task_number' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :task_number, desc: (params[:order] == 'task_number' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-md text-center"><%= link_to "Datum <div class='sort-icon #{'asc' if params[:order] == 'created_at'} #{'desc' if (params[:order] == 'created_at' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :created_at, desc: (params[:order] == 'created_at' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-xl text-center"><%= link_to "Obj_Nr. <div class='sort-icon #{'asc' if params[:order] == 'object_number'} #{'desc' if (params[:order] == 'object_number' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :object_number, desc: (params[:order] == 'object_number' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-xs"><%= link_to "Adresse <div class='sort-icon #{'asc' if params[:order] == 'address'} #{'desc' if (params[:order] == 'address' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :address, desc: (params[:order] == 'address' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-sm"><%= link_to "Wohnung <div class='sort-icon #{'asc' if params[:order] == 'flat'} #{'desc' if (params[:order] == 'flat' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :flat, desc: (params[:order] == 'flat' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-xl"><%= link_to "Mieter <div class='sort-icon #{'asc' if params[:order] == 'tenant'} #{'desc' if (params[:order] == 'tenant' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :tenant, desc: (params[:order] == 'tenant' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-xs"><%= link_to "Beschreibung <div class='sort-icon #{'asc' if params[:order] == 'title'} #{'desc' if (params[:order] == 'title' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :title, desc: (params[:order] == 'title' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-xl text-center"><%= link_to "Ausgestellt <div class='sort-icon #{'asc' if params[:order] == 'user'} #{'desc' if (params[:order] == 'user' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :user, desc: (params[:order] == 'user' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-md"><%= link_to "Weitergeleitet an <div class='sort-icon #{'asc' if params[:order] == 'partner_names'} #{'desc' if (params[:order] == 'partner_names' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :partner_names, desc: (params[:order] == 'partner_names' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-sm text-center"><%= link_to "Status <div class='sort-icon #{'asc' if params[:order] == 'status'} #{'desc' if (params[:order] == 'status' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :status, desc: (params[:order] == 'status' && params[:desc] != 'true') })) %></div>
    <div class="table-column show-md text-center"><%= link_to "Prio <div class='sort-icon #{'asc' if params[:order] == 'priority'} #{'desc' if (params[:order] == 'priority' && params[:desc] == 'true')}'><span>▲</span><span>▼</span></div>".html_safe, url_for(params.permit!.merge({order: :priority, desc: (params[:order] == 'priority' && params[:desc] != 'true') })) %></div>
  </div>

  <div class="table-content">
    <% tasks.each_with_index do |task, i| %>
      <div class="table-row" onclick="toggleTableContent(<%= task.id %>)" style="background: <%= task.status == 4 ? '#EE585A' : (i%2 == 0 ? 'white' : '#F0F0F0') %>">
        <div class="table-column show-xs text-center"><%= task.prefix_number %></div>
        <div class="table-column show-md text-center"><%= task.created_at.strftime('%d.%m.%Y') %></div>
        <div class="table-column show-xl text-center"><%= task.house.object_number %></div>
        <div class="table-column show-xs"><%= task.house.address %></div>
        <div class="table-column show-sm"><%= task.flat.try(:location) || '-' %></div>
        <div class="table-column show-xl"><%= task.tenant.try(:name) || '-' %></div>
        <div class="table-column show-xs"><%= task.title %></div>
        <div class="table-column show-xl text-center"><%= task.user.abbreviated_name %></div>
        <div class="table-column show-md"><%= task.partner_names %></div>
        <div class="table-column show-sm text-center"><%= task.humanized_status %></div>
        <div class="table-column show-md text-center"><%= task.humanized_priority %></div>
      </div>
      <div class="table-row-expand hidden text-center" id="table-content-<%= task.id %>" style="background: <%= i%2 == 0 ? 'white' : '#F0F0F0' %>">
        <h3>Auftrag Nr. <%= task.prefix_number %></h3>
        <p>Ausgestellt am: <%= task.created_at.strftime('%d/%m/%Y') %> | Fällig am: <%= task.due_date ? task.due_date.strftime('%d/%m/%Y') : 'Offen' %></p>
        <p><%= task.house.formatted_address %></p>
        <p><%= task.flat.try(:location) || '-' %> | <%= task.tenant.try(:name) || '-' %></p>
        <p><%= task.title %></p>
        <p><%= task.description %></p>
        <p>Für: <%= task.partner_names %></p>
        <div class="table-links">
          <%= link_to 'Anzeigen', task %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  function toggleTableContent(id) {
    document.getElementById(`table-content-${id}`).classList.toggle('hidden');
  }
</script>
