<header>
  <h1>Aufträge <%= link_to '+', new_task_path %></h1>

  <div class="quick-actions">
    <%= link_to 'Offen', url_for(params.permit!.merge({query: :status_open})), class: "#{'active' if params[:query] == 'status_open'}" %>
    <%= link_to 'Bald fällig', url_for(params.permit!.merge({query: :due_date})), class: "#{'active' if params[:query] == 'due_date'}" %>
    <%= link_to 'Abgelaufen', url_for(params.permit!.merge({query: :over_due})), class: "#{'active' if params[:query] == 'over_due'}" %>
  </div>
</header>

<%= render 'tasks/tasks_table', tasks: @tasks %>
