<style>
  body {
    font-family: sans-serif;
  }

  table {
    width: 100%;
  }

  .mbt-100 {
    margin: 100px 0;
  }

  tr {
    height: 2rem;
  }

  img {
    width: 20%;
  }

  .col-blue {
    color: rgb(38, 73, 123);
  }

  .bold {
    font-weight: bolder;
  }

  .description {
    height: 100px;
  }
</style>

<h1>Auftrag Nr. <span class="col-blue"><%= @task.prefix_number %></span></h1>

<%= wicked_pdf_image_tag 'lca_logo.png', style: 'float: right;' %>

<table class="mbt-100">
  <tr>
    <td class="bold">Objekt Nr.</td>
    <td><%= @task.house.object_number %></td>
    <td class="bold">Adresse:</td>
    <td><%= @task.house.formatted_address %></td>
  </tr>
  <tr>
    <td class="bold">Wohnung:</td>
    <td><%= @task.flat.location %></td>
    <td class="bold">Mieter:</td>
    <td><%= @task.tenant.name %></td>
  </tr>
  <tr>
    <td class="bold">Ausgestellt von:</td>
    <td><%= @task.user.abbreviated_name %></td>
    <td class="bold">Telefon Nr.:</td>
    <td><%= @task.tenant.phone_number %></td>
  </tr>
  <tr>
    <td class="bold">Weitergeleitet an:</td>
    <td><%= @task.partner_names %></td>
    <td></td>
    <td></td>
    <td class="bold">Datum:</td>
    <td><%= @task.created_at.strftime('%d.%m.%Y') %></td>
  </tr>
</table>

<h3 class="mb-0">Beschreibung:</h3>
<p class="col-blue bold"><%= @task.title %></p>
<p class="description"><%= @task.description %></p>

<table>
  <tr>
    <td class="bold">Termin vereinbart:</td>
    <td class="bold">Arbeitszeit (von/bis):</td>
    <td class="bold">Mitarbeiter Name:</td>
  </tr>
  <tr>
    <td>(Datum/Uhrzeit)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>_________ /______ Uhr</td>
    <td>von _______bis________ Uhr</td>
    <td>___________________________</td>
  </tr>
  <tr>
    <td>_________ /______ Uhr</td>
    <td>von _______bis________ Uhr</td>
    <td>___________________________</td>
  </tr>
</table>

<h3>Material:</h3>
<h3>Auftrag abgeschlossen durch:</h3>
<h3>Notiz:</h3>
