<header>
  <h1>Auftrag <%= @task.prefix_number %></h1>
  <h3>Ausgestellt am <%= @task.created_at.strftime('%d.%m.%Y') %> von <%= @task.user.full_name %></h3>
  <div class="quick-actions">
    <%= link_to 'PDF Intern', task_path(@task, format: 'pdf', internal: true) %>
    <%= link_to 'PDF Extern', task_path(@task, format: 'pdf') %>
    <%= link_to 'Email schicken', @task %>
  </div>

  <% if @task.due_date %>
    <h3>Zu erledigen bis:</h3>
    <h4 style="color: <%= 'red' if @task.due_date < Date.today %>"><%= @task.due_date.strftime('%d.%m.%Y') %></h4>
  <% end %>

  <form class="status-form" id="status-form" action="/tasks/<%= @task.id %>/update_status" accept-charset="UTF-8" data-remote="true" method="post">
    <h3 class="form-title">Status</h3>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="put">
    <select class="select optional" name="task[status]" id="task_status">
      <% Task.status_options.each_with_index do |status, i| %>
        <option value="<%= i %>" <%= 'selected' if @task.status == i %>><%= status %></option>
      <% end %>
    </select>
  </form>
</header>

<section>
  <h3>Beschreibung</h3>
  <p><%= @task.title %></p>
  <p><%= @task.description %></p>
</section>

<section>
  <h3>Weitergeleitet an</h3>

  <div class="partners">
    <% @task.partners.each do |partner| %>
      <% if partner.up_to_date %>
        <%= render 'partners/card', partner: partner %>
      <% else %>
        <%= render 'partners/form', partner: partner, task: @task %>
      <% end %>
    <% end %>
    <%= render 'partners/add_partner', task: @task %>
  </div>
</section>

<script>
  statusForm = document.getElementById('status-form');
  statusSelector = document.getElementById('task_status');

  statusSelector.addEventListener('input', () => {
    statusForm.submit();
  })

  function disableButton(id) {
    button = document.getElementById(`partner-button-${id}`)
    button.disabled = false;
  }

  function showPartnerForm() {
    plusIcon = document.querySelector('.plus-icon');
    partnerForm = document.getElementById('new_partner');
    partnerCard = document.querySelector('.add-partner');
    partnerCard.classList.remove('no-form')
    plusIcon.remove();
    partnerForm.style.display = 'block'
  }
</script>
