<header>
  <h1>Auftrag <%= @task.prefix_number %></h1>
  <h3>Ausgestellt am <%= @task.created_at.strftime('%d.%m.%Y') %> von <%= @task.user.full_name %></h3>
  <div class="quick-actions">
    <%= link_to 'PDF Intern', task_path(@task, format: 'pdf', internal: true), onclick: 'showLoadingModal()' %>
    <%= link_to 'PDF Extern', task_path(@task, format: 'pdf'), onclick: 'showLoadingModal()' %>
    <% if @task.mail_sent %>
      <a class="disabled">Email verschickt ✔︎</a>
    <% else %>
      <%= link_to 'Interne Email schicken', task_new_email_path(@task, layout: 'internal'), onclick: 'showLoadingModal()' %>
      <%= link_to 'Externe Email schicken', task_new_email_path(@task, layout: 'external'), onclick: 'showLoadingModal()' %>
    <% end %>
  </div>

  <div class="header-forms">
    <% if @user.can_edit_task(@task) %>
      <form>
        <h3 class="form-title">Fällig am</h3>
        <div class="input">
          <input type="date" value="<%= @task.due_date.strftime('%Y-%m-%d') if @task.due_date %>" name="task[due_date]" ajax-submit data-ajax-url="/tasks/<%= @task.id %>" data-ajax-type="put">
        </div>
      </form>

      <form>
        <h3 class="form-title">Status</h3>
        <select class="select optional" name="task[status]" ajax-submit data-ajax-url="/tasks/<%= @task.id %>" data-ajax-type="put">
          <% Task.status_options.each_with_index do |status, i| %>
            <option value="<%= i %>" <%= 'selected' if @task.status == i %>><%= status %></option>
          <% end %>
        </select>
      </form>

      <form>
        <h3 class="form-title">Priorität</h3>
        <select class="select optional" name="task[priority]" ajax-submit data-ajax-url="/tasks/<%= @task.id %>" data-ajax-type="put">
          <% Task.priority_collection.each do |prio| %>
            <option value="<%= prio.last %>" <%= 'selected' if @task.priority == prio.last %>><%= prio.first %></option>
          <% end %>
        </select>
      </form>
    <% else %>
      <div class="card">
        <h3>Fällig am</h3>
        <h4><%= @task.due_date ? @task.due_date.strftime('%d.%m.%Y') : '-' %></h4>
      </div>

      <div class="card">
        <h3>Status</h3>
        <h4><%= @task.humanized_status %></h4>
      </div>

      <div class="card">
        <h3>Priorität</h3>
        <h4><%= @task.humanized_priority %></h4>
      </div>
    <% end %>
  </div>
</header>

<section>
  <div class="flex-container center-evenly flex-wrap">
    <div>
      <h2>Objekt</h2>
      <p><%= @task.house.address %></p>
    </div>

    <div>
      <h2>Wohnung</h2>
      <p><%= @task.flat.try(:location) || '-' %></p>
    </div>

    <div>
      <h2>Mieter</h2>
      <p><%= @task.tenant.try(:name) || '-' %></p>
    </div>
  </div>
</section>

<section>
  <h2>Beschreibung der Tätigkeit</h2>
  <% if @user.can_edit_task(@task) %>
    <form>
      <div class="input-field">
        <input type="text" value="<%= @task.title %>" name="task[title]" id="task_title" ajax-submit data-ajax-url="/tasks/<%= @task.id %>" data-ajax-type="put">
      </div>
    </form>

    <h2>Weitere Bemerkungen</h2>

    <form>
      <div class="input-field">
        <textarea name="task[description]" id="task_description" ajax-submit data-ajax-url="/tasks/<%= @task.id %>" data-ajax-type="put"><%= @task.description %></textarea>
      </div>
    </form>
  <% else %>
    <p><%= @task.title %></p>

    <h2>Weitere Bemerkungen</h2>
    <p><%= @task.description %></p>
  <% end %>
</section>

<section>
  <h2>Weitergeleitet an</h2>

  <div class="partners">
    <% @task.partners.each do |partner| %>
      <% if partner.up_to_date %>
        <%= render 'partners/card', partner: partner %>
      <% elsif user_signed_in? && (current_user.admin || current_user.can_manage_partners) %>
        <%= render 'partners/form', partner: partner, task: @task %>
      <% else %>
        <%= render 'partners/card', partner: partner %>
      <% end %>
    <% end %>

    <% if user_signed_in? && (current_user.admin || current_user.can_manage_partners || current_user == @task.user) %>
      <%= render 'partners/add_partner', task: @task %>
    <% end %>
  </div>
</section>

<script>
  function disableButton(id) {
    button = document.getElementById(`partner-button-${id}`)
    button.disabled = false;
  }

  function showPartnerForm() {
    plusIcon = document.querySelector('.plus-icon');
    partnerForm = document.getElementById('new_partner');
    partnerCard = document.querySelector('.add-partner');
    partnerCard.classList.remove('no-form')
    plusIcon.remove();
    partnerForm.style.display = 'block'
  }
</script>
