<header>
  <h1>Auftrag <%= @task.prefix_number %></h1>
  <h3>Ausgestellt am <%= @task.created_at.strftime('%d.%m.%Y') %> von <%= @task.user.full_name %></h3>
  <div class="quick-actions">
    <%= link_to 'PDF Intern', task_path(@task, format: 'pdf', internal: true), onclick: 'showLoadingModal()' %>
    <%= link_to 'PDF Extern', task_path(@task, format: 'pdf'), onclick: 'showLoadingModal()' %>
    <% if @task.mail_sent %>
      <a class="disabled">Email verschickt ✔︎</a>
    <% else %>
      <%= link_to 'Email schicken', task_new_email_path(@task), onclick: 'showLoadingModal()' %>
    <% end %>
  </div>

  <div class="header-forms">
    <% if user_signed_in? && (current_user.admin || current_user == @task.user) %>
      <form class="due-date-form" id="due-date-form" action="/tasks/<%= @task.id %>/update_due_date" accept-charset="UTF-8" data-remote="true" method="post">
        <h3 class="form-title">Fällig am</h3>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="put">
        <div class="input">
          <input type="date" value="<%= @task.due_date.strftime('%Y-%m-%d') if @task.due_date %>" name="task[due_date]" id="task_due_date">
        </div>
      </form>

      <form class="status-form" id="status-form" action="/tasks/<%= @task.id %>/update_status" accept-charset="UTF-8" data-remote="true" method="post">
        <h3 class="form-title">Status</h3>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="put">
        <select class="select optional" name="task[status]" id="task_status">
          <% Task.status_options.each_with_index do |status, i| %>
            <option value="<%= i %>" <%= 'selected' if @task.status == i %>><%= status %></option>
          <% end %>
        </select>
      </form>

      <form class="priority-form" id="priority-form" action="/tasks/<%= @task.id %>/update_priority" accept-charset="UTF-8" data-remote="true" method="post">
        <h3 class="form-title">Priorität</h3>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="put">
        <select class="select optional" name="task[priority]" id="task_priority">
          <% Task.priority_collection.each do |prio| %>
            <option value="<%= prio.last %>" <%= 'selected' if @task.priority == prio.last %>><%= prio.first %></option>
          <% end %>
        </select>
      </form>
    <% else %>
      <div class="card">
        <h3>Fällig am</h3>
        <h4><%= @task.due_date ? @task.due_date.strftime('%d.%m.%Y') : '-' %></h4>
      </div>

      <div class="card">
        <h3>Status</h3>
        <h4><%= @task.humanized_status %></h4>
      </div>

      <div class="card">
        <h3>Priorität</h3>
        <h4><%= @task.humanized_priority %></h4>
      </div>
    <% end %>
  </div>
</header>

<section>
  <div class="flex-container center-evenly flex-wrap">
    <div>
      <h2>Objekt</h2>
      <p><%= @task.house.address %></p>
    </div>

    <div>
      <h2>Wohnung</h2>
      <p><%= @task.flat.location %></p>
    </div>

    <div>
      <h2>Mieter</h2>
      <p><%= @task.tenant.name %></p>
    </div>
  </div>
</section>

<section>
  <h2>Beschreibung der Tätigkeit</h2>
  <% if user_signed_in? && (current_user.admin || current_user == @task.user) %>
    <form class="title-form" id="title-form" action="/tasks/<%= @task.id %>/update_title" accept-charset="UTF-8" data-remote="true" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="put">
      <div class="input-field">
        <input type="text" value="<%= @task.title %>" name="task[title]" id="task_title">
      </div>
    </form>

    <h2>Weitere Bemerkungen</h2>

    <form class="description-form" id="description-form" action="/tasks/<%= @task.id %>/update_description" accept-charset="UTF-8" data-remote="true" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="put">
      <div class="input-field">
        <textarea name="task[description]" id="task_description"><%= @task.description %></textarea>
      </div>
    </form>
  <% else %>
    <p><%= @task.title %></p>

    <h2>Weitere Bemerkungen</h2>
    <p><%= @task.description %></p>
  <% end %>
</section>

<section>
  <h2>Weitergeleitet an</h2>

  <div class="partners">
    <% @task.partners.each do |partner| %>
      <% if partner.up_to_date %>
        <%= render 'partners/card', partner: partner %>
      <% elsif user_signed_in? && (current_user.admin || current_user.can_manage_partners) %>
        <%= render 'partners/form', partner: partner, task: @task %>
      <% else %>
        <%= render 'partners/card', partner: partner %>
      <% end %>
    <% end %>

    <% if user_signed_in? && (current_user.admin || current_user.can_manage_partners || current_user == @task.user) %>
      <%= render 'partners/add_partner', task: @task %>
    <% end %>
  </div>
</section>

<script>
  statusForm = document.getElementById('status-form');
  statusSelector = document.getElementById('task_status');

  statusSelector.addEventListener('input', () => {
    statusForm.submit();
  })

  priorityForm = document.getElementById('priority-form');
  prioritySelector = document.getElementById('task_priority');

  prioritySelector.addEventListener('input', () => {
    priorityForm.submit();
  })

  dueDateForm = document.getElementById('due-date-form');
  dueDateSelector = document.getElementById('task_due_date');

  dueDateSelector.addEventListener('blur', () => {
    dueDateForm.submit();
  })

  titleForm = document.getElementById('title-form');
  titleSelector = document.getElementById('task_title');

  titleSelector.addEventListener('blur', () => {
    titleForm.submit();
  })

  descriptionForm = document.getElementById('description-form');
  descriptionSelector = document.getElementById('task_description');

  descriptionSelector.addEventListener('blur', () => {
    descriptionForm.submit();
  })

  function disableButton(id) {
    button = document.getElementById(`partner-button-${id}`)
    button.disabled = false;
  }

  function showPartnerForm() {
    plusIcon = document.querySelector('.plus-icon');
    partnerForm = document.getElementById('new_partner');
    partnerCard = document.querySelector('.add-partner');
    partnerCard.classList.remove('no-form')
    plusIcon.remove();
    partnerForm.style.display = 'block'
  }
</script>
