<div class="partner-card">
  <div class="content">
    <p>Name:</p>
    <p><%= partner.name %></p>
    <p>Firma:</p>
    <p><%= partner.company_name %></p>
    <p>Email:</p>
    <p><%= partner.email %></p>
    <p>Tel.</p>
    <p><%= partner.phone_number %></p>
  </div>
  <% if partner.tasks.count.positive? %>
    <span class="badge"><%= partner.tasks.count %></span>
  <% end %>
</div>
