<header>
  <h1><%= @partner.name %></h1>

  <%= simple_form_for @partner, html: {remote: true} do |f| %>
    <%= f.input :email, as: :email, label: 'Email' %>
    <%= f.input :phone_number, label: 'Tel.' %>
    <%= f.button :submit, 'Aktualisieren', disabled: true, id: 'submit-button' %>
  <% end %>
</header>

<h3>Aufträge</h3>

<% if @tasks.count.positive? %>
  <%= render 'tasks/tasks_table', tasks: @tasks %>
<% end %>

<script>
  submitButton = document.getElementById('submit-button');

  document.querySelectorAll('input').forEach(input => {
    input.addEventListener('input', () => {
      console.log(input.value)
      submitButton.disabled = false;
    })
  })
</script>
