<header>
  <h1><%= @partner.name %></h1>

  <%= simple_form_for @partner, html: {remote: true} do |f| %>
    <h3 class="form-header">Email</h3>
    <%= f.input :email, as: :email, label: false %>

    <h3 class="form-header">Telefon</h3>
    <%= f.input :phone_number, label: false %>
    <%= f.button :submit, 'Aktualisieren', disabled: true, id: 'submit-button' %>
  <% end %>
</header>

<section>
  <h2>Aufträge</h2>

  <% if @tasks.count.positive? %>
    <%= render 'tasks/tasks_table', tasks: @tasks %>
  <% end %>
</section>

<script>
  submitButton = document.getElementById('submit-button');

  document.querySelectorAll('input').forEach(input => {
    input.addEventListener('input', () => {
      console.log(input.value)
      submitButton.disabled = false;
    })
  })
</script>
