<header>
  <h1>Neue Wohnung für <%= @flat.house.address %></h1>
</header>

<%= simple_form_for [@house, @flat], defaults: { wrapper_html: {class: 'input-field'} } do |f| %>
  <%= f.input :house_id, as: :hidden, wrapper_html: {class: ''} %>
  <%= f.input :location, label: 'Bezeichnung', error: 'Bezeichnung muss angegeben werden' %>

  <%= f.button :submit, 'Fertig' %>
<% end %>
