<header>
  <h1>Profil bearbeiten</h1>
</header>

<%= simple_form_for(@user, url: update_profile_user_path(@user), defaults: { wrapper_html: {class: 'input-field'} }) do |f| %>
  <div class="inline-inputs">
    <%= f.input :first_name, autofocus: true, autocomplete: 'given-name', label: 'Vorname' %>
    <%= f.input :last_name, autocomplete: 'family-name', label: 'Nachname' %>
  </div>
  <%= f.input :phone_number, autocomplete: 'tel', label: 'Telefonnummer' %>
  <%= f.input :mobile_phone, autocomplete: 'tel', label: 'Mobilnummer' %>

  <%= f.submit "Speichern", class: 'btn' %>
<% end %>

<script>
  function setLabels() {
    document.querySelectorAll('.input').forEach(input => {
      if ((input.querySelector('input') && input.querySelector('input').value) || (input.querySelector('select') && input.querySelector('select').options.selectedIndex != 0) || (input.querySelector('textarea') && input.querySelector('textarea').value)) {
        input.classList.add('has-value')
      }
      else {
        input.classList.remove('has-value')
      }
      input.addEventListener('change', () => {
        if ((input.querySelector('input') && input.querySelector('input').value) || (input.querySelector('select') && input.querySelector('select').options.selectedIndex != 0) || (input.querySelector('textarea') && input.querySelector('textarea').value)) {
          input.classList.add('has-value')
        }
        else {
          input.classList.remove('has-value')
        }
      })
    })
  }

  setLabels()

</script>
