<div class="navbar">
  <%= link_to 'Aufträge', tasks_path, class: "nav-link #{'active' if controller.controller_name == 'tasks' && controller.action_name == 'index' }"  %>
  <%= link_to 'Mieter', tenants_path, class: "nav-link #{'active' if controller.controller_name == 'tenants' }"  %>
  <%= link_to 'Partner', partners_path, class: "nav-link #{'active' if controller.controller_name == 'partners' }"  %>
  <%= link_to 'Neu', new_task_path, class: "nav-link #{'active' if controller.controller_name == 'tasks' && controller.action_name == 'new' }"  %>

  <% if user_signed_in? %>
    <%= link_to 'Abmelden', destroy_user_session_path, method: :delete, class: 'nav-link sign-out-link' %>
  <% else %>
    <%= link_to 'Anmelden', new_user_session_path, class: 'nav-link sign-in-link' %>
  <% end %>
</div>
