<header>
  <h1>Hallo <%= @user.full_name %>!</h1>
  <div class="quick-actions">
    <%= link_to 'Profil bearbeiten', edit_user_registration_path %>
    <%= link_to 'Einstellungen', edit_settings_path %>
    <%= link_to 'Abmelden', destroy_user_session_path, method: :delete %>
  </div>
</header>

<section>
  <h2>Offene Aufträge pro Haus</h2>
  <%= column_chart Task.where('status != ?', 2).joins(:house).group(:address).order(:address).count, download: true %>
</section>

<section>
  <h2>Aufträge nach Status</h2>
  <%= pie_chart Task.where('created_at > ?', 1.month.ago).group(:status).count.map {|k, v| ["#{Task.status_options[k]}", v] }.to_h, colors: ['#CCC', '#00A300', 'red', 'blue'] %>
</section>

<% if @tasks && @tasks.count.positive? %>
  <section>
    <h2>Deine Aufträge</h2>
    <%= render 'tasks/tasks_table', tasks: @tasks %>
  </section>
<% end %>

