<header>
  <h1>Hallo <%= @user.full_name %>!</h1>
  <div class="quick-actions">
    <%= link_to 'Mein Profil', @user %>
    <%= link_to 'Einstellungen', edit_settings_path %>
    <%= link_to 'Abmelden', destroy_user_session_path, method: :delete %>
  </div>
</header>

<section>
  <h2>Offene Aufträge pro Haus</h2>
  <%= column_chart Task.where('status != ? AND status != ?', 2, 4).joins(:house).group(:address).order(:address).count.sort_by {|_key, value| value}.reverse.to_h, download: true %>
</section>

<section>
  <h2>Aufträge nach Status</h2>
  <%= pie_chart Task.where('created_at > ?', 1.month.ago).group(:status).count.sort.map { |arr| [Task.status_options[arr[0]], arr[1]] }.to_h, colors: Task.color_options %>
</section>

<% if @tasks && @tasks.count.positive? %>
  <section>
    <h2>Deine Aufträge</h2>
    <%= render 'tasks/tasks_table', tasks: @tasks %>
  </section>
<% end %>

