<header>
  <h1>Hallo <%= @user.full_name %>!</h1>
  <div class="quick-actions">
    <%= link_to 'Profil bearbeiten', edit_user_registration_path %>
    <%= link_to 'Einstellungen', edit_settings_path %>
    <%= link_to 'Abmelden', destroy_user_session_path, method: :delete %>
  </div>
</header>

<% if @tasks && @tasks.count.positive? %>
  <section>
    <h3>Deine Aufträge</h3>
    <%= render 'tasks/tasks_table', tasks: @tasks %>
  </section>
<% end %>

<% if @tasks_for_user && @tasks_for_user.count.positive? %>
  <section>
    <h3>Zu erledigen</h3>
    <%= render 'tasks/tasks_table', tasks: @tasks_for_user %>
  </section>
<% end %>
