<header>
  <h1>Anmelden</h1>
</header>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), defaults: {wrapper_html: {class: 'input-field'}}) do |f| %>
  <%= f.input :email, autofocus: true, autocomplete: "email", label: 'Email' %>
  <%= f.input :password, autocomplete: "current-password", label: 'Passwort' %>

  <%= f.submit "Log in", class: 'btn' %>
<% end %>

<section class="devise-links">
  <%= render "devise/shared/links" %>
</section>
