<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="loading-modal"><div class="loader"></div></div>
    <% if user_signed_in? %>
      <%= render 'shared/navbar' %>
    <% else %>
      <%= render 'shared/marketing_navbar' %>
    <% end %>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>

  <script>
    notice = document.querySelector('.notice');
    alert = document.querySelector('.alert');

    if (notice) {
      setTimeout(function() { notice.style.opacity = 0; }, 8000);
      setTimeout(function() { notice.style.display = 'none'; }, 9000);
    }

    if (alert) {
      setTimeout(function() { alert.style.opacity = 0; }, 8000);
      setTimeout(function() { alert.style.display = 'none'; }, 9000);
    }

    function showLoadingModal() {
      document.getElementById('loading-modal').classList.add('show');
    }
  </script>

</html>
